/* ESTE MODIFICA EL TITULO DE LA PAGINA */
#titulo{
    color: rgb(0, 0, 0);
    font-family: 'Kaushan Script', cursive;
    font-size: 400%;
}

/* ESTE MODIFICA EL TITULO ARRIBA DEL INPUT TEXT*/
#titleUpInput{
    color: rgb(0, 0, 0);
    font-family: 'Kaushan Script', cursive;
}
