<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div>
        <h1 id="titulo">{{title}}</h1>
      </div>
    </div>    
    <div class="col-md-2">
      <a class="navbar-brand" href="#">
        <img width="100" alt="PatoCocinero" src="../assets/pato cocinero.png">
      </a>
    </div> 
  </div>
  

  <div>
    <div class="row">
      <div id="titleUpInput" class="col-md-6">Buscar recetas por ingredientes:</div>    
    <div class="row">
  
    <div class="row">
      <div class="col-md-4">
        <input type="text" #inputIngrediente class="form-control" placeholder="Ejemplo: Pasta">      
      </div>
      <div class="col-md-4">
        <button class="btn btn-primaty fa fa-search-plus" type="button" (click)="getRecetas(inputIngrediente.value)"></button>
      </div>    
    </div> 
  </div>

  <div>
    <br>
  </div> 

  
  <div>
    <div class="col-md-10" *ngIf="firstCall">
      <div class="col-md-10" *ngFor="let itemA of infoRecetas; let i = index">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapseOne_{{i}}" 
                aria-expanded="true" attr.aria-controls="collapseOne_{{i}}">
                <div class="table-responsive">
                  <table class="table">
                    <tr>                      
                      <td>
                        <img src={{itemA?.image}} width="100">
                      </td>                      
                      <th>
                        {{itemA?.title}} 
                      </th>
                    </tr>
                  </table>
                </div>   
              </button>
            </h2>
            <div id="collapseOne_{{i}}" class="accordion-collapse collapse in" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body"> 
                <div class="container">

                  <!-- CONTENEDOR QUE FUNCIONA DE LA SIGUIENTE FORMA                    
                    ROW
                      COLUMN_1
                        GUARDA LA INFORMACION DE PORCIONES, TIEMPO PREPARACION, DATOS NUTRICIONALES

                      COLUMN_2
                        ROW_1
                          GUARDA EL CODIGO QR

                        ROW_2
                          GUARDA LOS ICONOS CON LOS VALORES
                  -->

                  <div class="row">
                    <div class="col-md-8">
                      <div class="col">
                        <p><b>Porciones: </b> {{itemA?.servings}}</p>
                        <p><b>Tiempo de preparación: </b> {{itemA?.readyInMinutes}} minutos</p>
                        <p><b>Datos nutricionales por porcion:</b></p>
                          <ul>
                            <li>Calorías: {{itemA?.nutrition.nutrients[0].amount}}</li>
                            <li>Carbohidratos: {{itemA?.nutrition.nutrients[3].amount}} g</li>
                            <li>Grasa: {{itemA?.nutrition.nutrients[1].amount}} g</li>
                            <li>Proteinas: {{itemA?.nutrition.nutrients[9].amount}} g</li>
                          </ul>
                          <p><b>Ingredientes:</b></p>
                            <ul *ngFor="let i of itemA?.extendedIngredients">
                              <li>{{i?.original}}</li>
                            </ul>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="row">
                        <img src="https://qrtag.net/api/qr_transparent_2.svg?url={{itemA?.sourceUrl}}" alt="CodigoQr" width="50">
                      </div>
                      <div class="row">
                        <i class="bi bi-archive-fill" aria-hidden="true">{{itemA?.aggregateLikes}}</i> 
                        <i class="fa fa-graatipay fa-3x" aria-hidden="true">{{itemA?.healtScore}}</i>
                      </div>
                    </div>
                  </div>  
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div> 
  
  


  <footer class="text-center text-black fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: important transparent;">
      © 2021 Copyright:
      <label class="text-black">Patricio Roberto Parra Soto</label>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>