<body class="body">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <label class="navbar-brand text-white" href="#">Recetas Pato Cocinero</label>   
      <img class="image" width="70" alt="patoCocinero" style="position: absolute; top: 0cm; right: 0cm;"  src="../assets/pato cocinero.png">
    </nav> 
  </header>

  <div id="placeholderTitle" class="text-white">
      Buscar recetas por ingredientes
  </div>
  
  <form>
    <div class = "row">
      <div class = "col-md-3">
        <input type="text" #inputIngrediente class="form-control" placeholder="Ejemplo:Pasta">
      </div>
      <div class="col-2">
        <button class="btn btn-primaty fa fa-search-plus" type="button" (click)="getRecetas(inputIngrediente.value)"></button>
      </div>
    </div>
  </form>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
         
        </div>
      </div>
    </div>    
  </div>
  <footer class="text-center text-white fixed-bottom" style="font-size:2rem; background-color: transparent">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <label class="text-white">Patricio Roberto Parra Soto</label>
    </div>
    <!-- Copyright -->
  </footer>
</body>
